            <div class="row" id = "errorMessageRow">
                <div id="errorMessageContainer" class="col-lg-12">
                  <div class="alert alert-danger" role="alert" id="errorMessage">
                      <span class="sr-only"> Error: </span>
                      <div id="errorMessageBody">
                          <i class="fa fa-exclamation-circle fa-2x"></i>
                          <span id="errorText"></span>
                      </div>
                  </div>
                </div>
            </div>
            <!-- /.row error -->
