            <div class="row">
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-plane fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="metric_inflight">--</div>
                                    <div class="instrument_desc">In Flight</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-flag-checkered fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="metric_landed">--</div>
                                    <div class="instrument_desc">Landings</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-lightblue">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tachometer fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="metric_adjust">--</div>
                                    <div class="instrument_desc">Adjustments</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-undo fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="metric_divert">--</div>
                                    <div class="instrument_desc">Diversions</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-warning fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="metric_errors">--</div>
                                    <div class="instrument_desc">ATC Errors</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span id="sim_status_icon">
                                    <i class="fa fa-toggle-off fa-4x"></i>
                                    </span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="sim_status">--</div>
                                    <div class="instrument_desc">Inbound Sim</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
